<div class="dashboard-area">
  <div class="user-dashboard">
    <div class="dash-content">
      <div class="block-inner dashboard">
        <svg class="svg-sprite" style="display: none;">
          <defs>
            <symbol id="pencil" viewBox="0 0 1792 1792">
              <path d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z"></path>
            </symbol>
            <symbol id="arrow_d" viewBox="0 0 1792 1792">
              <path d="M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z"></path>
            </symbol>
          </defs>
        </svg>
        <div class="dash-content-side" *ngIf="activeUser.role == 'admin'">
          <div class="dash-content-block">
            <table>
              <thead>
                <tr>
                  <th>Sede</th>
                  <th>Residentes Viviendo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Fase 1</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Fase 2</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Fase 3</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Fase 4</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Villa Belagua</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dash-content-block">
            <table class="br0">
              <thead>
                <tr>
                  <th>Etiquetas de fila</th>
                  <th>Cuenta de nombre solicitante</th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td>Nueva solicitud</td>
                  <td>1</td>
                </tr>
                <tr class="">
                  <td>Pendiente confirmar fecha entrevista</td>
                  <td>0</td>
                </tr>
                <tr class="">
                  <td>Entrevista concertada</td>
                  <td>0</td>
                </tr>
                <tr class="">
                  <td>Entrevista realizada</td>
                  <td>0</td>
                </tr>
                <tr class="">
                  <td>Residente</td>
                  <td>1</td>
                </tr>
                <tr class="">
                  <td>Plaza rechazado</td>
                  <td>0</td>
                </tr>
                <tr class="">
                  <td>Lista de espera</td>
                  <td>0</td>
                </tr>
                <tr class="">
                  <td>Reserva</td>
                  <td>0</td>
                </tr>
                <tr class="summary">
                  <td>Total general</td>
                  <td>2</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="dash-content-inner">
          <div class="dash-content-header"></div>
          <table>
            <tbody>
              <tr>
                <th class="edit">
                  <ul>
                    <li>
                      <a>
                        <span class="icon">
                          <svg>
                            <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
                          </svg>
                        </span>
                      </a>
                    </li>
                  </ul>
                </th>
                <th class="">
                  <ul>
                    <li>
                      <a>Fecha
                        <span class="icon">
                          <svg>
                            <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
                          </svg>
                        </span>
                      </a>
                    </li>
                  </ul>
                </th>
                <th class="">
                  <ul>
                    <li>
                      <a>Asunto
                        <span class="icon">
                          <svg>
                            <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
                          </svg>
                        </span>
                      </a>
                    </li>
                  </ul>
                </th>
                <th class="">
                  <ul>
                    <li>
                      <a>Estado
                        <span class="icon">
                          <svg>
                            <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
                          </svg>
                        </span>
                      </a>
                    </li>
                  </ul>
                </th>
                <th class="">
                  <ul>
                    <li>
                      <a>Priority
                        <span class="icon">
                          <svg>
                            <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
                          </svg>
                        </span>
                      </a>
                    </li>
                  </ul>
                </th>
                <th class="">
                  <ul>
                    <li>
                      <a>Nombre
                        <span class="icon">
                          <svg>
                            <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
                          </svg>
                        </span>
                      </a>
                    </li>
                  </ul>
                </th>
                <th class="">
                  <ul>
                    <li>
                      <a>Entrevistador
                        <span class="icon">
                          <svg>
                            <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
                          </svg>
                        </span>
                      </a>
                    </li>
                  </ul>
                </th>
                <th class="">
                    <ul>
                      <li>
                        <a>Tarea
                          <span class="icon">
                            <svg>
                              <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
                            </svg>
                          </span>
                        </a>
                      </li>
                    </ul>
                  </th>
                  <th class="">
                      <ul>
                        <li>
                          <a>Observaciones
                            <span class="icon">
                              <svg>
                                <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
                              </svg>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </th>
                  
              </tr>
              <tr class="row-data" *ngFor="let item of candidates">
                <td class="edit">
                  <a (click)="showDetails(item)">
                    <span class="icon">
                      <svg>
                        <use href="#pencil" width="19" height="19"></use>
                      </svg>
                    </span>
                  </a>
                </td>
                <td class="">{{item.applicationDate}}</td>
                <td class="">{{item.phase}}</td>
                <td class="">{{item.isFirstRequest ? 'Nueva solicitud' :  'renovar solicitud'}}</td>
                <td class="">{{item.priority}}</td>
                <td class="">{{item.firstName+' '+item.lastName}}</td>
                <td class="">
                  <select class="assign-interviewer" (change)="assignUser(item , $event)" >
                    <option value="-1">Pendiente asignar</option>
                    <option value="{{u.userID}}" *ngFor="let u of users" [selected]="item.userInChage === u.userID" >{{u.firstName +' '+ u.lastName !== ' ' ? u.firstName +' '+ u.lastName : u.login}}</option>
                  </select>
                </td>
                <td>
                  <button (click)="showTasks(tasks.get(item.candidateId))" style="margin-left: 10%" *ngIf="tasks.get(item.candidateId) !=undefined && tasks.get(item.candidateId).length != 0" ><i class="fas fa-tasks"></i> {{ tasks.get(item.candidateId).length}}</button>
                </td>
                <td>
                  
                  <ul>
                    <li *ngFor="let o of item.observations">{{o.author}}:{{o.ob}}</li>
                    <li *ngIf="textAreaShown == 'txt-'+item.candidateId">
                      <textarea id="txtarea-{{item.candidateId}}"></textarea>
                    </li>
                    <li>
                      <a *ngIf="textAreaShown != 'txt-'+item.candidateId" (click)="showObservationTextArea(item.candidateId)"><i class="fas fa-plus-square"></i></a>
                      <a *ngIf="textAreaShown == 'txt-'+item.candidateId" (click)="saveObservation(item.candidateId)"><i class="fas fa-cloud-upload-alt"></i></a>
                    
                    </li>
                  </ul>
                </td>
              </tr>
              <!--
              <tr class="row-data">
                <td class="edit">
                  <a href="/app/crm/inicio/interview/1541998891490">
                    <span class="icon">
                      <svg>
                        <use href="#pencil" width="19" height="19"></use>
                      </svg>
                    </span>
                  </a>
                </td>
                <td class="">13/11/18</td>
                <td class="">Admisión</td>
                <td class="">Residente</td>
                <td class="">Normal</td>
                <td class="">UTSAV</td>
                <td class="">
                  <select class="assign-interviewer">
                    <option value="-1">Pendiente asignar</option>
                    <option value="1">Guillermo&nbsp;Lorenzo</option>
                  </select>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
