<div class="dash-header">
  <div class="block-inner">
    <ul>
      <li class="dropdown-block">
        <a href="#" class="dropdown-toggler">
          Mis tareas
          <span class="icon">
            <svg>
              <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
            </svg>
          </span>
        </a>
        <div class="dropdown-content">
          <ul>
            <li>
              <a href="#">Mis tareas</a>
            </li>
            <li>
              <a href="#">Mis tareas abiertas</a>
            </li>
            <li>
              <a href="#">Mis tareas cerradas</a>
            </li>
            <li>
              <a href="#">Mis tareas de hoy</a>
            </li>
            <li>
              <a href="#">Mis tareas de mañana</a>
            </li>
            <li>
              <a href="#">Asignar nuevas admisiones</a>
            </li>
            <li>
              <a href="#">Mis entrevistas</a>
            </li>
            <li>
              <a href="#">Todas las entrevistas</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="dash-content">
  <div class="block-inner">
    <table>
      <tbody>
        <tr>
          <th class="edit"></th>
          <th>
            <a href="#">Fecha de vencimiento
              <span class="icon">
                <svg>
                  <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
                </svg>
              </span>
            </a>
          </th>
          <th>
            <a href="#">ASUNTO
              <span class="icon"></span>
            </a>
          </th>
          <th>
            <a href="#">EsTADO
              <span class="icon"></span>
            </a>
          </th>
          <th>
            <a href="#">prioridad
              <span class="icon"></span>
            </a>
          </th>
          <th>
            <a href="#">Nombre
              <span class="icon"></span>
            </a>
          </th>
          <th>
            <a href="#">Entrevistador
              <span class="icon"></span>
            </a>
          </th>
        </tr>
        <tr class="active">
          <td class="edit">
            <a href="#">
              <span class="icon">
                <svg>
                  <use href="#pencil" width="19" height="19"></use>
                </svg>
              </span>
            </a>
          </td>
          <td>
            <span class="colored color-green back-decoration">7 de febrero</span>
          </td>
          <td>Asignar responsable entrevista</td>
          <td>En curso</td>
          <td>Normal</td>
          <td>Leandro López</td>
          <td>
            <div class="dropdown-block">
              <a href="#" class="dropdown-toggler">
                Pendiente asignar
                <span class="icon">
                  <svg>
                    <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
                  </svg>
                </span>
              </a>
              <div class="dropdown-content">
                <ul>
                  <li>
                    <a href="#">Blas Pérez</a>
                  </li>
                  <li>
                    <a href="#">Jose Sancho</a>
                  </li>
                  <li>
                    <a href="#">Entrevistador 3</a>
                  </li>
                  <li>
                    <a href="#">Entrevistador 4</a>
                  </li>
                  <li>
                    <a href="#">Entrevistador 5</a>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="edit">
            <a href="#">
              <span class="icon">
                <svg>
                  <use href="#pencil" width="19" height="19"></use>
                </svg>
              </span>
            </a>
          </td>
          <td>
            <span class="colored color-yellow back-decoration">HOY</span>
          </td>
          <td>Solicitar notas</td>
          <td>Completado</td>
          <td>Alta</td>
          <td>Sati Castelo</td>
          <td>
            <a href="#">Blas Pérez</a>
          </td>
        </tr>
        <tr>
          <td class="edit">
            <a href="#">
              <span class="icon">
                <svg>
                  <use href="#pencil" width="19" height="19"></use>
                </svg>
              </span>
            </a>
          </td>
          <td>
            <span class="colored color-red back-decoration">22 de septiembre</span>
          </td>
          <td>Solicitar carta de recomendacion</td>
          <td>En curso</td>
          <td>Alta</td>
          <td>Blas Sánchez</td>
          <td>
            <a href="#">Jose Sancho</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="dash-pagi">
  <div class="block-inner">
    <div class="pagi-inner">
      <div class="pagi-count">
        <ul>
          <li class="dropdown-block open-top">
            <a href="#" class="dropdown-toggler">
              10 registros por página
              <span class="icon">
                <svg>
                  <use href="#arrow_d" width="13" height="13" x="0" y="0"></use>
                </svg>
              </span>
            </a>
            <div class="dropdown-content">
              <ul>
                <li>
                  <a href="#">10 registros por página</a>
                </li>
                <li>
                  <a href="#">20 registros por página</a>
                </li>
                <li>
                  <a href="#">30 registros por página</a>
                </li>
                <li>
                  <a href="#">40 registros por página</a>
                </li>
                <li>
                  <a href="#">50 registros por página</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="pagi-pages">
        <a href="#" class="page-arrow prev">
          <span class="icon">
            <svg>
              <use href="#arrow_l" width="10" height="19" x="0" y="0"></use>
            </svg>
          </span>
        </a>
        <span class="page-to-show">1 a 3</span>
        <a href="#" class="page-arrow next">
          <span class="icon">
            <svg>
              <use href="#arrow_l" width="10" height="19" x="0" y="0"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
