<app-svg-spirit></app-svg-spirit>
<section class="site-wrapper">
  <div class="block block-dash">
    <app-header></app-header>
    <app-nav></app-nav>

    <div class="dash-content users-page">
      <div class="block-inner">
        <div class="task-wrapper">
          <section class="panel-menu">
            <ul>
              <li>
                <a class="" routerLink="/configuation">colecciones de datos</a>
              </li>
              <li>
                <a class="active" routerLink="/calendar">calendario</a>
              </li>
              <li>
                  <a class="" routerLink="/formConfiguration">configuración de formulario</a>
                </li>
                <li>
                    <a class="" routerLink="/sede">configuración de Sede</a>
                  </li>
            </ul>
          </section>
          <section class="users-view">
            <div class="users-header">
              <span class="users-title">calendario</span>
              <!-- <div class="btn-group">
                <a (click)="createNewCollection(false)" title="Usuario nuevo" class="btn btn-confirm">+ nueva colección</a>
              </div> -->
            </div>
            <div style="width: 100% !important; margin: 5px 0px 40px 0px  !important">
              <div>
              <label>condición de las entrevistas</label> 
              <div class="btn-group" style="float: right">

              <button (click)="editConfig()" class="btn btn-confirm" >
                Guardar
              </button>
              </div>
            </div>
            <div *ngIf="true">
              <table>
                <tr>
                  <td>dias de entrevista</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                  <div class="day-container" *ngFor="let item of days ; let i = index">
                    <div class="day-name" width="100px" >{{days[i].dayName}}</div>
                    <div  class="day-check" (click)="addDayToConfig(item , i)">
                      <div *ngIf="daysChecked[i].isChecked" style="display: flex; width: 52px; align-items: center; justify-content: flex-start; position: relative; cursor: pointer; background-color: transparent; border: 0px; padding: 0px; user-select: none; -webkit-tap-highlight-color: transparent;">
                        <div style="width: 52px; height: 20px; padding: 0px; border-radius: 26px; display: flex; align-items: center; justify-content: center; background-color: rgb(1, 124, 66);">
                          <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgb(250, 250, 250); margin-top: auto; margin-bottom: auto; line-height: 0; opacity: 1; width: 26px; height: 20px; left: 4px;">ON</div>
                          <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgba(255, 255, 255, 0.6); bottom: 0px; margin-top: auto; margin-bottom: auto; padding-right: 5px; line-height: 0; width: 26px; height: 20px; opacity: 0;">OFF</div>
                        </div>
                        <div style="position: absolute; height: 100%; top: 0px; left: 0px; display: flex; flex: 1 1 0%; align-self: stretch; align-items: center; justify-content: flex-start;">
                          <div style="width: 18px; height: 18px; display: flex; align-self: center; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px; border-radius: 50%; box-sizing: border-box; background-color: rgb(250, 250, 250); position: relative; left: 33px;"></div>
                        </div>
                        <input type="checkbox" value="true" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px;">
                      </div>
  
                      <div *ngIf="!daysChecked[i].isChecked" style="display: flex; width: 52px; align-items: center; justify-content: flex-start; position: relative; cursor: pointer; background-color: transparent; border: 0px; padding: 0px; user-select: none; -webkit-tap-highlight-color: transparent;">
                        <div style="width: 52px; height: 20px; padding: 0px; border-radius: 26px; display: flex; align-items: center; justify-content: center; background-color: rgb(65, 66, 68);">
                          <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgb(250, 250, 250); margin-top: auto; margin-bottom: auto; line-height: 0; opacity: 0; width: 26px; height: 20px; left: 4px;">ON</div>
                          <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgba(255, 255, 255, 0.6); bottom: 0px; margin-top: auto; margin-bottom: auto; padding-right: 5px; line-height: 0; width: 26px; height: 20px; opacity: 1;">OFF</div>
                        </div>
                        <div style="position: absolute; height: 100%; top: 0px; left: 0px; display: flex; flex: 1 1 0%; align-self: stretch; align-items: center; justify-content: flex-start;">
                          <div style="width: 18px; height: 18px; display: flex; align-self: center; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px; border-radius: 50%; box-sizing: border-box; background-color: rgb(250, 250, 250); position: relative; left: 1px;"></div>
                        </div>
                        <input type="checkbox" value="false" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px;">
                      </div>
                    </div>                  
                  </div>  
                </td>
                </tr>
                
                <tr>
                  <td height="5px"></td>
                  <td height="5px"></td>
                  <td height="5px"></td>
                  <td height="5px"></td>
                </tr>
                <tr>
                  <td width="50px">permitido en vacaciones</td>
                  <td></td>
                  <td (click)="changeAllowedOnHollyDays()" style="display: inline-flex">
                      <div *ngIf="interviewConfig.hollyDaysEnabled" style="display: flex; width: 52px; align-items: center; justify-content: flex-start; position: relative; cursor: pointer; background-color: transparent; border: 0px; padding: 0px; user-select: none; -webkit-tap-highlight-color: transparent;">
                      <div style="width: 52px; height: 20px; padding: 0px; border-radius: 26px; display: flex; align-items: center; justify-content: center; background-color: rgb(1, 124, 66);">
                        <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgb(250, 250, 250); margin-top: auto; margin-bottom: auto; line-height: 0; opacity: 1; width: 26px; height: 20px; left: 4px;">ON</div>
                        <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgba(255, 255, 255, 0.6); bottom: 0px; margin-top: auto; margin-bottom: auto; padding-right: 5px; line-height: 0; width: 26px; height: 20px; opacity: 0;">OFF</div>
                      </div>
                      <div style="position: absolute; height: 100%; top: 0px; left: 0px; display: flex; flex: 1 1 0%; align-self: stretch; align-items: center; justify-content: flex-start;">
                        <div style="width: 18px; height: 18px; display: flex; align-self: center; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px; border-radius: 50%; box-sizing: border-box; background-color: rgb(250, 250, 250); position: relative; left: 33px;"></div>
                      </div>
                      <input type="checkbox" value="true" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px;">
                    </div>

                    <div *ngIf="!interviewConfig.hollyDaysEnabled" style="display: flex; width: 52px; align-items: center; justify-content: flex-start; position: relative; cursor: pointer; background-color: transparent; border: 0px; padding: 0px; user-select: none; -webkit-tap-highlight-color: transparent;">
                      <div style="width: 52px; height: 20px; padding: 0px; border-radius: 26px; display: flex; align-items: center; justify-content: center; background-color: rgb(65, 66, 68);">
                        <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgb(250, 250, 250); margin-top: auto; margin-bottom: auto; line-height: 0; opacity: 0; width: 26px; height: 20px; left: 4px;">ON</div>
                        <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgba(255, 255, 255, 0.6); bottom: 0px; margin-top: auto; margin-bottom: auto; padding-right: 5px; line-height: 0; width: 26px; height: 20px; opacity: 1;">OFF</div>
                      </div>
                      <div style="position: absolute; height: 100%; top: 0px; left: 0px; display: flex; flex: 1 1 0%; align-self: stretch; align-items: center; justify-content: flex-start;">
                        <div style="width: 18px; height: 18px; display: flex; align-self: center; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px; border-radius: 50%; box-sizing: border-box; background-color: rgb(250, 250, 250); position: relative; left: 1px;"></div>
                      </div>
                      <input type="checkbox" value="false" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px;">
                    </div>
                    <label class="cal-day-disabled-1" style="margin-left: 5px" *ngIf="!interviewConfig.hollyDaysEnabled"></label>

                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                    <td width="50px">Previos</td>
                    <td></td>
                    <td (click)="changePreviosEnabled()" style="display: inline-flex;">
                        <div *ngIf="interviewConfig.previosEnabled" style="display: flex; width: 52px; align-items: center; justify-content: flex-start; position: relative; cursor: pointer; background-color: transparent; border: 0px; padding: 0px; user-select: none; -webkit-tap-highlight-color: transparent;">
                        <div style="width: 52px; height: 20px; padding: 0px; border-radius: 26px; display: flex; align-items: center; justify-content: center; background-color: rgb(1, 124, 66);">
                          <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgb(250, 250, 250); margin-top: auto; margin-bottom: auto; line-height: 0; opacity: 1; width: 26px; height: 20px; left: 4px;">ON</div>
                          <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgba(255, 255, 255, 0.6); bottom: 0px; margin-top: auto; margin-bottom: auto; padding-right: 5px; line-height: 0; width: 26px; height: 20px; opacity: 0;">OFF</div>
                        </div>
                        <div style="position: absolute; height: 100%; top: 0px; left: 0px; display: flex; flex: 1 1 0%; align-self: stretch; align-items: center; justify-content: flex-start;">
                          <div style="width: 18px; height: 18px; display: flex; align-self: center; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px; border-radius: 50%; box-sizing: border-box; background-color: rgb(250, 250, 250); position: relative; left: 33px;"></div>
                        </div>
                        <input type="checkbox" value="true" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px;">
                      </div>
  
                      <div *ngIf="!interviewConfig.previosEnabled" style="display: flex; width: 52px; align-items: center; justify-content: flex-start; position: relative; cursor: pointer; background-color: transparent; border: 0px; padding: 0px; user-select: none; -webkit-tap-highlight-color: transparent;">
                        <div style="width: 52px; height: 20px; padding: 0px; border-radius: 26px; display: flex; align-items: center; justify-content: center; background-color: rgb(65, 66, 68);">
                          <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgb(250, 250, 250); margin-top: auto; margin-bottom: auto; line-height: 0; opacity: 0; width: 26px; height: 20px; left: 4px;">ON</div>
                          <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgba(255, 255, 255, 0.6); bottom: 0px; margin-top: auto; margin-bottom: auto; padding-right: 5px; line-height: 0; width: 26px; height: 20px; opacity: 1;">OFF</div>
                        </div>
                        <div style="position: absolute; height: 100%; top: 0px; left: 0px; display: flex; flex: 1 1 0%; align-self: stretch; align-items: center; justify-content: flex-start;">
                          <div style="width: 18px; height: 18px; display: flex; align-self: center; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px; border-radius: 50%; box-sizing: border-box; background-color: rgb(250, 250, 250); position: relative; left: 1px;"></div>
                        </div>
                        <input type="checkbox" value="false" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px;">
                      </div>
                      <label class="cal-day-selected-1" style="margin-left: 5px" *ngIf="interviewConfig.previosEnabled"></label>
                    </td>
                    <td>
                    </td>
                </tr>
                <!--
                <tr>
                  <td>seleccione horas de movilidad reducida</td>
                  <td>
                    comienzo: 
                    <select #startOfDay (change)="startOfTheDayChanged()">
                    <option selected="{{i == interviewConfig.startOfTheDay}}" value="{{i}}" *ngFor="let i of hours">{{i}}</option>
                    </select>
                    comienzo: 
                    <select #endOfDay (change)="endOfTheDayChanged()">
                    <option selected="{{i == interviewConfig.endOfTheDay}}" value="{{i}}" *ngFor="let i of hours">{{i}}</option>
                  </select>
                </td>
                  
                </tr> -->
              </table>
              <br>
            </div>
            </div>
            <br>
            <br>
            <div class="wrapper" style="display: flex">
            <div class="left-col" style="width: 65% !important; margin: 5px 0px !important">
              <div class="radio-group" *ngIf="interviewConfig.previosEnabled || !interviewConfig.hollyDaysEnabled " >
                <div class="radio" *ngIf="!interviewConfig.hollyDaysEnabled">
                  <input type="radio" name="setDaysType" [(ngModel)]="setDaysType" [value]="1" (change)="view =CalendarView.Month "  />
                  <label>estableciendo vacaciones</label>
                </div>
                <div class="radio" *ngIf="interviewConfig.previosEnabled ">
                    <input type="radio" name="setDaysType" [(ngModel)]="setDaysType" [value]="2" (change)="view =CalendarView.Month "  />
                    <label>estableciendo previos</label>
                  </div>
                  <div class="radio" >
                      <input type="radio" name="setDaysType" [(ngModel)]="setAuthHours" [value]="3" (change)=" setAuthHours == '3' ? view = CalendarView.Day : view =CalendarView.Month " />
                      <label>Escoger horario entrevista por día</label>
                    </div>
              </div>
              <br>
              <br>
              <br>
              
              <div>
               <div *ngIf="view == CalendarView.Month" style="display: inline; float: left;">
                  <a class="btn" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false" style="margin-right: 5px">
                    <i class="fa fa-backward"></i>
                    El mes pasado
                  </a>
                  <a class="btn" mwlCalendarToday [(viewDate)]="viewDate" style="margin-right: 5px">
                    <i class="fa fa-stop"></i>
                    mes actual
                  </a>
                  <a class="btn" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false" style="margin-right: 5px">
                    <i class="fa fa-forward"></i>
                    próximo mes
                  </a>
                  <div *ngIf="view == CalendarView.Month" style="display: inline-block; float: left; margin-left: 22%">
                    <label>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</label>
                  </div>                </div>
                 <div *ngIf="view == CalendarView.Day" style="display: inline-block;">
                  <label>Seleccionas para habilitar o deshabilitar las horas en las que los candidatos podrán optar a sus entrevistas.</label>
                </div>
              </div>
              <br>
              <br>
              <br>
              <div [ngSwitch]="view">
                <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                (beforeViewRender)="beforeMonthViewRender($event)" (dayClicked)="dayClicked($event.day)"  (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)" (hourSegmentClicked)="hourSegmentClicked($event.date)" (beforeViewRender)="beforeDayViewRender($event)">
                </mwl-calendar-day-view>
              </div>
              <!--
              <br>
              <br>
              <br>

              <h3>
                Edit events
                <button class="btn btn-primary pull-right" (click)="addEvent()">
                  Add new
                </button>
                <div class="clearfix"></div>
              </h3>

              <table class="table table-bordered">

                <thead>
                  <tr>
                    <th>Candidate</th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let event of eventsData; let index = index">
                    <td>
                      {{event.candidate}}
                    </td>
                    <td>
                      {{event.interview.interviewDate}}
                    </td>
                    <td>
                      {{event.interview.interviewStartHour}} : {{event.interview.interviewStartMinute  == 0 ? '00' : event.interview.interviewStartMinute}}
                    </td>
                    <td>
                      <button class="btn btn-danger" (click)="events.splice(index, 1); refresh.next()">
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>

              </table> -->

            </div>
            <div class="list-dates right-col" style="width: 40% !important; margin-top:183px; margin-left: 10px">
              
              <div *ngFor="let d of hollyDaysAllTypes;let i = index" style="margin-top: 5px ; margin-bottom: 10px ; border: 1px solid grey">
                <i class="fas fa-calendar-times"></i>
                <small>{{d | date: 'dd/MM/yyyy'}} 
                  <span *ngIf="interviewConfig.hollyDays.indexOf(d) != -1"> FIESTA (no es posible hacer entrevista)</span>
                  <span *ngIf="interviewConfig.previosDays.indexOf(d) != -1"> PREVIOS (se aceptan automaticamente las entrevistas)</span>
                </small>
                <i class="fas fa-trash-alt" (click)="deleteHollyDay(i)"></i>
              </div>
              <!--
              <div *ngFor="let d of interviewConfig.previosDays;let i = index" style="margin-top: 5px">
                <i class="fas fa-calendar-times"></i>
                <small>{{d | date: 'dd/MM/yyyy'}} Previos (se aceptan automaticamente las entrevistas)</small>
                <i class="fas fa-trash-alt" (click)="deleteHollyDay(i)"></i>
              </div> -->
            
            </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</section>
