<app-svg-spirit></app-svg-spirit>
<section class="site-wrapper">
  <div class="block block-dash">
    <app-header></app-header>
    <app-nav [navigationEnabled]="true" [searchEnabled]="false" [reloadEnabled]="false"></app-nav>

    <div class="dash-content">
      <div class="block-inner">
        <div class="blocks-grid">
          <div class="form-left">
            <div class="form-title">
              <span>Campos</span>
            </div>
            <ul>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event , 'single_line')">
                <div class="btn-plug">
                  <span class="far fa-1x fa-file-alt"></span> Single Line
                </div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event , 'password')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-key"></span> Password
                </div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event , 'phone')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-phone"></span> Phone
                </div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event , 'multi_line')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-align-left"></span> Multi line
                </div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event, 'url')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-globe"></span> URL
                </div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event ,'date')">
                <div class="btn-plug">
                  <span class="far fa-1x fa-calendar-alt"></span> Date</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event, 'file_upload')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-upload"></span> File Upload</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event, 'radio')">
                <div class="btn-plug">
                  <span class="far fa-1x fa-dot-circle"></span> Radio</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event, 'image')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-image"></span> Image</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event, 'checkbox')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-check-square"></span> Checkbox</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event , 'text')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-font"></span> Text</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event , '2_line_text')">
                  <div class="btn-plug">
                    <span class="fas fa-1x fa-font"></span> 2 line text</div>
                </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'email')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-envelope"></span> Email</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'number')">
                <div class="btn-plug">
                  <span class="fas fa-1x">123</span> Number</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'description')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-font"></span> Description</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'decimal')">
                <div class="btn-plug">
                  <span class="fas fa-1x">.00</span> Decimal</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'multi_select')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-server"></span> Multi Select</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'dropdown')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-chevron-down"></span> Dropdown</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'note')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-sticky-note"></span> Notes</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'percent')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-percent"></span> Percent</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'white_space')">
                <div class="btn-plug">
                  <span class="fas fa-1x fa-text-height"></span> White Space</div>
              </li>
              <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'photo')">
                  <div class="btn-plug">
                    <span class="fas fa-1x fa-image"></span>Photo</div>
                </li>
                <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'video')">
                    <div class="btn-plug">
                      <span class="fas fa-1x fa-video"></span>Video</div>
                  </li>
                  <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'title')">
                      <div class="btn-plug">
                        <span class="fas fa-1x fa-heading"></span>Title</div>
                    </li>
                    <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'section')">
                        <div class="btn-plug">
                          <span class="fab fa-1x fa-autoprefixer"></span>Section</div>
                      </li>
                      <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'paragraph')">
                          <div class="btn-plug">
                            <span class="fa fa-1x fa-paragraph"></span>Paragraph</div>
                        </li>
                        <li draggable="true" style="opacity: 1" (dragstart)="drag($event,'youtube')">
                            <div class="btn-plug">
                              <span class="fab fa-1x fa-youtube"></span>youtube</div>
                          </li>
            </ul>
          </div>
          <div class="form-center">
            <div class="form-title">
                <div class="wrapper" style="width: 150px">
                    <span [ngStyle]="{'display': !editFormTitleEnabled ? 'inline-block' : 'none'}" #formTitleContainer>
                      {{pages[pageIndex] !== undefined ? pages[pageIndex].pageTitle : 'step '+ (pageIndex +1)}}
                    </span>
                    <input type="text" 
                    class="stepname" 
                    [ngStyle]="{'display': editFormTitleEnabled ? 'inline-block' : 'none'}" 
                    #formNameInput
                      (blur)="editFormName()" 
                      (keyup)="editFormNameChanged($event.keyUp)"
                      [value]="pages[pageIndex] !== undefined ? pages[pageIndex].pageTitle : 'step '+ (pageIndex +1)"
                      />
                    <a href="javascript:void(0)">
                      <span class="icon icon-pencil" (click)="editFormName()"></span>
                    </a>
                  </div>
                  <div style="display: inline-flex">
                    <span style="margin-right: 3px">
                      forma de dos columnas
                    </span>
                    <div (click)="isSingleColumnForm = !isSingleColumnForm">
                      <div *ngIf="!isSingleColumnForm" style="display: flex; width: 52px; align-items: center; justify-content: flex-start; position: relative; cursor: pointer; background-color: transparent; border: 0px; padding: 0px; user-select: none; -webkit-tap-highlight-color: transparent;">
                      <div style="width: 52px; height: 20px; padding: 0px; border-radius: 26px; display: flex; align-items: center; justify-content: center; background-color: rgb(1, 124, 66);">
                        <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgb(250, 250, 250); margin-top: auto; margin-bottom: auto; line-height: 0; opacity: 1; width: 26px; height: 20px; left: 4px;">ON</div>
                        <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgba(255, 255, 255, 0.6); bottom: 0px; margin-top: auto; margin-bottom: auto; padding-right: 5px; line-height: 0; width: 26px; height: 20px; opacity: 0;">OFF</div>
                      </div>
                      <div style="position: absolute; height: 100%; top: 0px; left: 0px; display: flex; flex: 1 1 0%; align-self: stretch; align-items: center; justify-content: flex-start;">
                        <div style="width: 18px; height: 18px; display: flex; align-self: center; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px; border-radius: 50%; box-sizing: border-box; background-color: rgb(250, 250, 250); position: relative; left: 33px;"></div>
                      </div>
                      <input type="checkbox" value="true" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px;">
                    </div>

                    <div *ngIf="isSingleColumnForm" style="display: flex; width: 52px; align-items: center; justify-content: flex-start; position: relative; cursor: pointer; background-color: transparent; border: 0px; padding: 0px; user-select: none; -webkit-tap-highlight-color: transparent;">
                      <div style="width: 52px; height: 20px; padding: 0px; border-radius: 26px; display: flex; align-items: center; justify-content: center; background-color: rgb(65, 66, 68);">
                        <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgb(250, 250, 250); margin-top: auto; margin-bottom: auto; line-height: 0; opacity: 0; width: 26px; height: 20px; left: 4px;">ON</div>
                        <div style="font-size: 11px; display: flex; align-items: center; justify-content: center; font-family: 'Helvetica Neue', Helvetica, sans-serif; position: relative; color: rgba(255, 255, 255, 0.6); bottom: 0px; margin-top: auto; margin-bottom: auto; padding-right: 5px; line-height: 0; width: 26px; height: 20px; opacity: 1;">OFF</div>
                      </div>
                      <div style="position: absolute; height: 100%; top: 0px; left: 0px; display: flex; flex: 1 1 0%; align-self: stretch; align-items: center; justify-content: flex-start;">
                        <div style="width: 18px; height: 18px; display: flex; align-self: center; box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px; border-radius: 50%; box-sizing: border-box; background-color: rgb(250, 250, 250); position: relative; left: 1px;"></div>
                      </div>
                      <input type="checkbox" value="false" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px;">
                    </div>
                    </div>
                  </div>
              <div class="btn-group">
                <a (click)="previewForm()" class="btn">
                  <span class="icon icon-eye"></span>
                </a>
                <a href="javascript:void(0)" class="btn">
                  <span class="icon icon-add" (click)="addPage()"></span>
                </a>
                <a class="btn" title="Eliminar formulario" style="display: none;">
                  <span class="icon icon-delete"></span>
                </a>
                <ul class="step-dropdown">
                  <li class="dropdown-block">
                    <a class="dropdown-toggler" title="Ver listado de todas las páginas del formulario">
                      <span class="icon icon-menu"></span>
                    </a>
                    <div class="dropdown-content">
                      <ul>
                        <li *ngFor="let item of pages ; let i = index" (click)="loadPage(item , i)">{{item.pageTitle}}</li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <form action="">
              <div class="message" *ngIf="elementCounter === 0">
                <em>Este es un nuevo paso. Comience a agregar elementos de formulario</em>
              </div>
              <div class="wrapper">
                <div class="left-col col" 
                #left_container 
                (drop)="drop($event , 1 )" 
                (dragover)="allowDrag($event)" 
                dragula="elemnts" 
                [ngStyle]="{'width' : !isSingleColumnForm ? '50%' : '100%'}"
                >

                </div>
                <div [ngStyle]="{'display' : !isSingleColumnForm ? 'block' : 'none'}" 
                class="right-col col" 
                #right_container (drop)="drop($event , 2 )" 
                (dragover)="allowDrag($event)" 
                dragula="elemnts" >

                </div>

              </div>


            </form>
            <div class="btn-group " style="display: flex; float: right; margin-right: 95px; margin-top: 5px; margin-bottom: 5px;">
              <a (click)="selectButton('back')" class="btn btn-sc" href="javascript:void(0)" style="width: 165px; margin-right: 5px;">Atrás</a>
              <a (click)="selectButton('next')" class="btn btn-confirm" href="javascript:void(0)" style="width: 165px">Siguiente</a>
            </div>
            <div class="btn-group btn__mod">
              <a (click)="saveForm()" style="cursor: pointer" class="btn btn-confirm">Guardar</a>
            </div>
          </div>


          <div class="form-right">
              <!--<div class="form-title">
                <span class="active" style="width: 100% !important">
                  <a>
                      Propiedades de formulario
                  </a>
                </span>
              </div>
              <form novalidate="">
                  <input type="text" name="formName" [(ngModel)]="formName" />
              </form>-->

              <div class="form-title">
                  <!--<span [ngClass]="{'active': !propertyTabShown , 'inactive': propertyTabShown}" [ngStyle]="{'cursor': propertyTabShown ? 'pointer' : 'auto'}">
                    <a (click)="propertyTabShown = false;">Propiedades del Formulario</a>
                  </span> -->
                  <span class="active" style="width: 100% !important">
                    <a (click)="propertyTabShown = true;">Propiedades del Campo</a>
                  </span>
                </div>
              
              <form novalidate="" *ngIf="true">
                <div *ngIf=" (selectedElementIndex !== -1 || shouldShowButtonActionSection)">
                  <div>
                    <div>
                        <div *ngIf="selectedElementIndex !== -1 
                        && !shouldShowButtonActionSection 
                        && !(componentSelected.type=='photo' || componentSelected.type=='video')">
                      <label for="form-title" *ngIf="componentSelected.type !== 'youtube'">Nombre del campo</label>
                      <label for="form-title" *ngIf="componentSelected.type == 'youtube'">Youtube source</label>
                      <input *ngIf="componentSelected.type !== 'paragraph' && componentSelected.type !== 'youtube'" type="text" id="form-title" name="elementLabelTitle" [(ngModel)]="elementLabelTitle" autocomplete="off" value="" #labelTitleInput (keyup)="editLabelTitle()">
                      <textarea *ngIf="componentSelected.type === 'paragraph'" name="elementLabelTitle" [(ngModel)]="elementLabelTitle" autocomplete="off" value="" #labelTitleInput (keyup)="editLabelTitle()"></textarea>
                      <input *ngIf="componentSelected.type == 'youtube'" type="text" placeholder="Youtube source" name="youtubeSource" [(ngModel)]="youtubeSource" (keyup)="youtubeSourceChange()" />
                      <input *ngIf="componentSelected.type === '2_line_text'" type="text" id="form-title" name="smallLabelTitle" [(ngModel)]="smallLabelTitle" autocomplete="off" value=""  (keyup)="editSmallLabelTitle()">
                      <select *ngIf="componentSelected.type === '2_line_text'" #lineTextTypeSelector (change)="inputTypeSelectChange()">
                        <option value="-1">seleccione el tipo de entrada</option>
                        <option value="text" [selected]="componentSelected.inputType == 'text'">Text</option>
                        <option value="email" [selected]="componentSelected.inputType == 'email'">Email</option>
                        <option value="number" [selected]="componentSelected.inputType == 'number'">Number</option>
                        <option value="tel" [selected]="componentSelected.inputType == 'tel'" >Phone</option>
                      </select>
                      <br>
                      <label for="form-title">papel de los campos</label>
                      <select #roleSelector (change)="setElementRole()">
                        <option value="0">Seleccione un rol para el campo</option>
                        <option value="lastname">Apellido</option>
                        <option value="firstname">Nombre</option>
                        <option value="college">Colegio</option>
                        <option value="phone">Teléfono móvil</option>
                        <option value="email">Email</option>
                      </select>
                      <br>
                        <span>
                          <input type="checkbox" id="required-field" #isFieldRequired (change)="makeFieldRequired()" name="requiredCheckedBoxIsChecked"
                            [(ngModel)]="requiredCheckedBoxIsChecked">
                          <label for="required-field">Campo obligatorio</label>
                        </span>
                        <span>
                          <input type="checkbox" id="conditoned-field" #isFieldConditioned (change)="makeFieldCondition()" name="conditionCheckedBoxIsChecked"
                            [(ngModel)]="conditionCheckedBoxIsChecked">
                          <label for="conditoned-field">Campo condicionado</label>
                        </span>
                        <label for="info">Información</label>
                        <textarea id="info"></textarea>
                        
  
                        <div *ngIf="shoudlShowValueOptions">
                          <label>opciones de campo </label>
                          <small>ingrese cada opción en una línea</small>
                          <textarea id="" name="optionsContent" [(ngModel)]="optionsContent" #valuesOptions (keyup)="changeValues($event.keyCode)"></textarea>
                      
                          <label> lista de colecciones </label>
                          <select #collectionSelector (change)="collectionSelectorChanged()">
                              <option value="-1">seleccione una colección</option>
                              <option *ngFor="let item of collections" value="{{item.colectionId}}">{{item.collectionName}}</option>
                          </select>
                      </div>
                      </div>
                      <div *ngIf="selectedElementIndex !== -1 && !shouldShowButtonActionSection && (componentSelected.type=='photo' || componentSelected.type=='video')">
                        <label>{{'fuente de '+ (componentSelected.type == 'photo' ? 'imagen' : 'vídeo')}}</label>
                        <br>
                        <input type="file" name="source" (change)="sourceChanged($event)" accept="image" />
                        
                      </div>

                      <div *ngIf="shouldShowButtonActionSection">
                          
                          <div class="valid-right">
                            <label class="label-gray">Opciones de correo electrónico</label>
                            <div>
                              <small>
                                <em>Seleccione el correo electrónico que se enviará al enviar el formulario. Para editar, haga clic aqui</em>
                              </small>
                              <select class="email-list" #modelSelector>
                                <option value="-1">--por favor, elija--</option>
                                <option value="{{ item.modelId }}" *ngFor="let  item of models">{{ item.name }}</option>
                              </select>
                            </div>
                            <div>
                              <div>
                                <!--
                                <p>
                                  <input type="checkbox" id="registration-form" #isRegisterform>
                                  <label for="registration-form">Mostrar en la página de registro</label>
                                </p> -->
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="valid-right conditions" *ngIf="elementCounter !== 0">
                        <label class="label-gray">Condiciones</label>
                        <span>
                          <em>
                            <strong>IGUALDAD*</strong>
                          </em>
                        </span>
                        <div class="conditioned-fields">
                          <input type="radio" name="conditionRAdioGroup" [(ngModel)]="conditionRAdioGroup" [value]="1" (change)="selectEqualField(1)">
                          <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #equalDropField11 (change)="loadDropDownValue(1)">
                            <option *ngIf="selectTypeElements.length !==0" value="-1">Select element</option>
                            <option *ngFor="let item of selectTypeElements" value="{{item.id}}">{{ item.labelTitle }}</option>
                          </select>
                          <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #equalDropField12>
                            <option *ngIf="selectTypeValues.length !== 0" value="-1">Select</option>
                            <option *ngFor="let c of selectTypeValues" value="{{c}}">{{ c }}</option>
                          </select>
                        </div>
                        <div class="conditioned-fields">
                          <input type="radio" name="conditionRAdioGroup" (change)="selectEqualField(2)" [(ngModel)]="conditionRAdioGroup" [value]="2">
                          <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #equalDropField21>
                            <option *ngFor="let item of textTypeElements" value="{{item.id}}">{{ item.labelTitle }}</option>
                          </select>
                          <input type="text" placeholder="Texto" #equalDropField22>
                        </div>
                        <div class="conditioned-fields">
                          <input type="radio" name="conditionRAdioGroup" (change)="selectEqualField(3)" [(ngModel)]="conditionRAdioGroup" [value]="3">
                          <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #equalDropField31>
                            <option *ngFor="let item of oneOptionTypeElemnts" value="{{item.id}}">{{ item.labelTitle }}</option>
                          </select>
                          <p>
                            <strong>Enabled</strong>
                          </p>
                        </div>
                        <span>
                          <em>
                            <strong>DESIGUALDAD*</strong>
                          </em>
                        </span>
                        <div class="conditioned-fields">
                          <input type="radio" name="conditionRAdioGroup" (change)="selectNotEqualField(1)" [(ngModel)]="conditionRAdioGroup" [value]="-1">
                          <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #notEqualDropField11 (change)="loadDropDownValue(2)">
                            <option *ngIf="selectTypeElements.length !==0" value="-1">Select element</option>
                            <option *ngFor="let item of selectTypeElements" value="{{item.id}}">{{ item.labelTitle }}</option>
                          </select>
                          <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #notEqualDropField12>
                            <option *ngIf="selectTypeValuesNotEqual.length !== 0" value="-1">Select</option>
                            <option *ngFor="let c of selectTypeValuesNotEqual" value="{{c}}">{{ c }}</option>
                          </select>
                        </div>
                        <div class="conditioned-fields">
                          <input type="radio" name="conditionRAdioGroup" (change)="selectNotEqualField(2)" [(ngModel)]="conditionRAdioGroup" [value]="-2">
                          <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #notEqualDropField21>
                            <option *ngFor="let item of textTypeElements" value="{{item.id}}">{{ item.labelTitle }}</option>
                          </select>
                          <input type="text" placeholder="Texto" #notEqualDropField22>
                        </div>
                        <div class="conditioned-fields">
                          <input type="radio" name="conditionRAdioGroup" (change)="selectNotEqualField(3)" [(ngModel)]="conditionRAdioGroup" [value]="-3">
                          <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #notEqualDropField31>
                            <option *ngFor="let item of oneOptionTypeElemnts" value="{{item.id}}">{{ item.labelTitle }}</option>
                          </select>
                          <p>
                            <strong>Enabled</strong>
                          </p>
                        </div>
                        <span *ngIf="showActionSection">
                          <em>
                            <strong>ACCIONES*</strong>
                          </em>
                        </span>
                        <div class="conditioned-fields" *ngIf="showActionSection && !shouldShowButtonActionSection">
                          <input type="radio" name="actionRadioGroup" (change)="createCondition(1)" [(ngModel)]="actionRadioGroup" [value]="1">
                          <!-- <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #actionMaskSelector>
                            <option *ngFor="let c of conditionedFormCompotion" value="{{c.id}}">{{ c.labelTitle }}</option>
                          </select> -->
                          <p>
                            <strong>Esconder</strong>
                          </p>
                        </div>
                        <div class="conditioned-fields" *ngIf="showActionSection && !shouldShowButtonActionSection">
                          <input type="radio" name="actionRadioGroup" (change)="createCondition(2)" [(ngModel)]="actionRadioGroup" [value]="2">
                          <!-- <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #actionRequiredSelector>
                            <option *ngFor="let c of conditionedFormCompotion" value="{{c.id}}">{{ c.labelTitle }}</option>
                          </select> -->
                          <p>
                            <strong>Obligatorio</strong>
                          </p>
                        </div>
                        <div class="conditioned-fields" *ngIf="showActionSection && !shouldShowButtonActionSection">
                          <input type="radio" name="actionRadioGroup" (change)="createCondition(3)" [(ngModel)]="actionRadioGroup" [value]="3">
                          <!-- <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #actionNotRequiredSelector>
                            <option *ngFor="let c of conditionedFormCompotion" value="{{c.id}}">{{ c.labelTitle }}</option>
                          </select> -->
                          <p>
                            <strong>No es obligatorio</strong>
                          </p>
                        </div>
                        <small style="margin-bottom: 10px;" *ngIf="showActionSection && !shouldShowButtonActionSection">
                          <strong>Valor de copia</strong>
                        </small>
                        <div class="conditioned-fields" *ngIf="showActionSection && !shouldShowButtonActionSection">
                          <input type="radio" name="actionRadioGroup" [(ngModel)]="actionRadioGroup" (change)="createCondition(4)" [value]="4">
                          <!-- <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #actionCopyValueFromSelector>
                            <option *ngFor="let c of conditionedFormCompotion" value="{{c.id}}">{{ c.labelTitle }}</option>
                          </select> -->
                          <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #actionCopyValueToSelector>
                            <option *ngFor="let c of conditionedFormCompotion" value="{{c.id}}">{{ c.labelTitle }}</option>
                          </select>
                        </div>
                        <small style="margin-bottom: 10px;" *ngIf="showActionSection && !shouldShowButtonActionSection">
                          <strong>Copia texto</strong>
                        </small>
                        <div class="conditioned-fields" *ngIf="showActionSection && !shouldShowButtonActionSection">
                          <input type="radio" name="actionRadioGroup" [(ngModel)]="actionRadioGroup" (change)="createCondition(5)" [value]="5">
                          <input type="text" placeholder="Texto" #actionCopyTextInput>
                          <!-- <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #actionCopyTextToSelector>
                            <option *ngFor="let c of conditionedFormCompotion" value="{{c.id}}">{{ c.labelTitle }}</option>
                          </select> -->
                        </div>
                        <div *ngIf="shouldShowButtonActionSection">
                          <small style="margin-bottom: 10px;" *ngIf="showActionSection && shouldShowButtonActionSection">
                            <strong>Botón a la sección</strong>
                          </small>
                          <div class="conditioned-fields" *ngIf="showActionSection && shouldShowButtonActionSection">
                            <input type="radio" name="actionRadioGroup" [(ngModel)]="actionRadioGroup" (change)="createCondition(6)" [value]="6">
                            <select name="fields" style="border: 1px solid rgb(224, 224, 224); height: 29px; flex: 0 0 50%;" #jumpToPageSelector>
                              <option value="0" *ngIf="pages.length === 0 ">step 1</option>
                              <option *ngFor="let c of pages ; let i = index" value="{{ i }}">{{ c.pageTitle}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="btn-group btn__mod">
                      <button class="btn btn-confirm" (click)="validateCondition()">Actualizar</button>
                    </div>
                  </div>
                </div>
                <div *ngIf="(!elementSelected || elementCounter == 0) && !shouldShowButtonActionSection">
                  Sin Campo seleccionado
                </div>
              </form>
            </div>



        </div>
      </div>
    </div>



    <app-footer></app-footer>
  </div>
</section>
