
<div class="block block-dash">
		<app-header></app-header>
		<app-nav [searchEnabled]="false" [reloadEnabled]="false" [navigationEnabled]="true"></app-nav>
		<div class="dash-header">
        <div class="block-inner">
          <ul class="block-size">
            <a class="icon icon-back" (click)="goBack()"></a>
            <li class="dropdown-block">
              <a>Admisiones</a>
            </li>
          </ul>
          <div class="page-title">
            <span>
              {{form != undefined ? form.title : 'Form'}}</span>
          </div>
        </div>
      </div>
		<div class="start-admission-form">
		  <div class="dash-content">
			<div class="block-inner">
			  <div class="blocks-grid blocks-grid__mod">
				<h2 class="step-name">
				  <em>Admisión</em>
				</h2>
				<section class="main-content">
				  <form novalidate="" class="dynamic-form" #formCandidate>
					<div class="wrapper">
						<div class="left-col col" #left_container 
						[style.display]="!shouldShowCalendarPage ?  'block' : 'none'" 
						[style.width]="isSingleColumnForm ? '50%' : '500%'" 
						[style.margin-left]= "isSingleColumnForm ? '0%' : '0%'">
	  
						  </div>
							<div  class="right-col col" #right_container 
							[style.display]="!isSingleColumnForm ?  'block' : 'none'"  
							[style.padding-left]="isSingleColumnForm ? 'Opx' : ''">
						  </div>
					  
					<div *ngIf="shouldShowCalendarPage">
					  
					<div style="width: 720px">
					<div>
						<div style="display: inline; float: left;">
						  <a class="btn" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false" style="margin-right: 5px;">
							<i class="fa fa-backward"></i>
							Previous
						  </a>
						  <a class="btn" mwlCalendarToday [(viewDate)]="viewDate" style="margin-right: 5px">
							<i class="fa fa-stop"></i>
							Today
						  </a>
						  <a class="btn" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false" style="margin-right: 5px">
							<i class="fa fa-forward"></i>
							Next
						  </a>
						</div>
						<div style="display: inline-block; float: left; margin-left: 22%">
						  <label>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</label>
						</div>
						<div style="display: inline; float: right;" *ngIf="view === CalendarView.Day">
						  <a (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
							Month
						  </a>    
						</div>
		
					  </div>
					  <br>
					  <br>
					  <br>
					  <div class="calendar-class" [ngSwitch]="view">
						<mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
						(beforeViewRender)="beforeMonthViewRender($event)" (dayClicked)="dayClicked($event.day)" (eventTimesChanged)="eventTimesChanged($event)" >
						</mwl-calendar-month-view>
						<mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [refresh]="refresh" 
						  (eventTimesChanged)="eventTimesChanged($event)">
						</mwl-calendar-week-view>
						<mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh" 
						  (eventTimesChanged)="eventTimesChanged($event)" (beforeViewRender)="beforeDayViewRender($event.body.hourGrid)"
						  (hourSegmentClicked)="hourSegmentClicked($event.date)">
						</mwl-calendar-day-view>
					  </div>
		
					  <br>
					  <br>
					  <br>
					</div>
					</div>
					</div>
					<div class="btn-group">
					  <button *ngIf="pageIndex > 0" (click)="previous()" class="btn btn-sc">Atrás</button>
					  <button (click)="next()" class="btn btn-confirm" id="submit">Enviar</button>
					</div>
				  </form>
				</section>
			  </div>
			</div>
		  </div>
	  
	  
	  
		  <app-footer></app-footer>
		</div>
	  </div>
	  