	<header class="site-header">
			<div class="header-inner">
				<div class="header-logo"><a routerLink="/dashboard"><img src="assets/images/site-logo.png" alt=""></a></div>
				<div class="header-profile">
					<div class="user-avatar">
						<a href="#"><img src="assets/images/user-1.png" alt=""></a>
					</div>
					<div class="user-info">
						<div class="info-header">
							<div class="user-avatar">
								<img src="assets/images/user-1.png" alt="">
							</div>
							<div class="user-meta">
								<div class="user-name">{{user != undefined ? user.firstName+' '+user.lastName : 'Juan López'}}</div>
								<div class="user-email">{{user != undefined ? user.login : 'juanlopez@gmail.com'}}</div>
								<div class="user-action"><a href="#">{{user != undefined ? user.role : 'Configuración'}}</a></div>
							</div>
						</div>
						<div class="info-footer">
							<ul>
								<li><a (click)="logout()">Cerrar sesión</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>