<app-svg-spirit></app-svg-spirit>
<section class="site-wrapper">
  <div class="block block-dash">
    <app-header></app-header>
    <app-nav></app-nav>

    <div class="admissions">
      <div class="dash-content">
        <div class="block-inner">
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Sede</th>
                <th>Año escolar</th>
                <th>Renovación (si, no)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>UTSAV</td>
                <td>Villa Belagua</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</section>
