<app-svg-spirit></app-svg-spirit>
<section class="site-wrapper">
  <div class="block block-dash">
    <app-header></app-header>
    <app-nav></app-nav>

    <div class="dash-content">
      <div class="block-inner">
        <div class="task-wrapper">
          <section class="panel-menu">
            <ul>
              <li>
                <a class="" routerLink="/models">Plantillas</a>
              </li>
              <li>
                <a class="active" routerLink="/documents">Documentos</a>
              </li>
            </ul>
          </section>
          <form class="build-template-form">
            <div class="mail-wrapper">
              <div class="mail-header">
               
                <div class="btn-group">
                  <a class="btn btn-sc__blue"  (click)="cancel()">Cancelar</a>
                  <a title="Vista previa" class="btn btn-sc__blue" (click)="preview()">Vista previa</a>
                  <button type="submit" title="Guardar" class="btn btn-confirm__small" (click)="save()" >Guardar</button>
                </div>
              </div>
              <div class="mail-content">
                <div class="top-content">
                  <div class="left-column">
                    <input type="text" name="modelName" autocomplete="off" placeholder="Nombre del documentos" value="" [(ngModel)]="documentName"   >
                  </div>
                  <div class="right-column">
                    <input type="text" name="modelDescription" autocomplete="off" placeholder="Descripción" value="" [(ngModel)]="documentDescription">
                    <select #metaDataSelector (change)="insertMetaData()">
                      <option value="0">- Elija metadatos--</option>
                      <option value="email">Email</option>
                      <option value="name">Nombre</option>
                      <option value="passwordLink">Enlace de contraseña</option>
                      <option value="securityToken">Token de seguridad</option>
                      <option value="f={{f.formId}}" *ngFor="let f of forms">Form : {{f.title}}</option>
                      <option value="c={{c}}" *ngFor="let c of sede.columns">Columna : {{c}}</option>
                    </select>
                    <select #rowSelector (change)="rowSelect()" *ngIf="showRowDropdown" >
                      <option value="0">- Elija fila--</option>
                      <option value="{{c}}" *ngFor="let c of sede.rows">Row : {{c}}</option>
                  </select>

                  <select #fieldSelector (change)="fieldSelect()" *ngIf="showFieldsDropdown" >
                    <option value="0">- Elija metadato--</option>
                    <option value="{{i}}" *ngFor="let e of elements; let i = index">Field : {{e.title}}</option>
                </select>
                    </div>
                </div>
                <div class="bottom-content">
                  <ckeditor  [editor]="editor" (ready)="editorReady($event)" (change)="editorChange($event)"></ckeditor>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</section>
