<div class="block block-dash">
    <app-header></app-header>
    <div class="start-admission-form">
      <div class="dash-content">
        <div class="block-inner">
          <div class="blocks-grid blocks-grid__mod">
            <h2 class="step-name">
            </h2>
            <section class="main-content">
              <form novalidate="" class="dynamic-form" #formCandidate>
                <div class="wrapper">
                  <div class="left-col col" [style.display]="'block'" 
                  [style.width]="'500%'" 
                  [style.margin-left]= "'0%'">
                  <label>
                    Password updated
                  </label>
                </div>
                  
               
                </div>
                <div class="btn-group">
                </div>
              </form>
            </section>
          </div>
        </div>
      </div>
  
  
  
      <app-footer></app-footer>
    </div>
  </div>
  